<div class="container">
  <h2>User info</h2>
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post_image.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @post_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-xs-12">
      <label>Name<label>
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>

  <div class="form-group has-icon">
    <label>Image</label>
    <%= f.attachment_field :profile_image, class: "user-edit-form" %>
  </div>   

  <div class="row">
    <div class="form-group col-xs-12">
      <label>Introduction<label>
      <%= f.text_area :introduction, class:"form-control", rows:"3" %>
    </div>
  </div>

    <%= f.submit "Update User", class:"btn btn-default" %>
  <% end %>
</div>