<div class="container">
  <p id="notice"><%= notice %></p>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%# userprofile %>
    <div class="col-3">
      <%= render 'users/profile', {user: @user, book: @book} %>
    </div>
    <%# userprofile/ %>
    <%# Books %>
    <div class="col-9">
      <h2>Books</h2>
      <div class="search-form-wrapper">
        <%= search_form_for @q, class: "form-inline" do |f| %>
          <div class="form-group">
            <%= f.label :title_or_body_cont, 'Title', class: 'control-label sr-only' %>
            <%= f.search_field :title_or_body_cont,  autofocus: true, placeholder: "\uf002 Title or Opinion...", class: 'form-control fa' %>
          </div>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= render 'books/books_table', books: @books %>
    </div>
    <%# Books/ %>
  </div>
</div>