<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-xs-3">
      <%= render 'users/profile', {user: @user, book: @book_new} %>
    </div>
    <div class="col-xs-9">
      <%# Book detail %>
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr> 
            <td>
              <%= link_to user_path(@book.user_id) do%>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
                <br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
            <td>
              <%= link_to 'Edit', edit_book_path(@book), {class:"btn btn-success"} %>
            </td>
            <td>
              <%= link_to 'Destroy', book_path(@book), {data: {confirm: "本当に消しますか？"}, method: :delete, class:"btn btn-danger"} %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%# Book detail/ %>
      <%# Comment %>
      <h3>Comment</h3>
      <div class="comment-input-block">
        <%= form_for [@book, @post_comment] do |f| %>
          <% if @post_comment.errors.any? %>
            <div id="error_explanation">
              <ul>
              <% @post_comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.text_area :comment, rows: '5', class: "form-control", placeholder: "あなたの思いを徒然なるままに…"%>
          </div>
          <%= f.submit "Post Yout Comment", class: "btn btn-success pull-right"%>
        <% end %>
      </div>

      <div class="comment-count col-xs-12">
        <p>コメント<%= @book.post_comments.count %>件</p>
      </div>
      <% @post_comments.each do |post_comment| %>
        <div class="comment-block col-xs-12">
          <div class="comment-box clearfix">
            <div class="comment-box-content-left col-xs-2">
              <div class="commenter-box">
                <%= link_to user_path(post_comment.user) do %>
                  <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                  <span class="commenter-name"><%= post_comment.user.name %></span>
                <% end %>
              </div>
            </div>
            <div class="comment-box-content-right col-xs-10">
              <div class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>

              <div class="comment-display-block">
                <div class="comment-text"><%= post_comment.comment %></div>
                <% if post_comment.user.id == current_user.id %>
                <div class="comment-compilation-links">
                  <%= link_to '編集', edit_book_post_comment_path(@book, post_comment), remote: true, class: "comment-edit-link" %>
                  <%= link_to '削除', book_post_comment_path(@book, post_comment), method: :delete , class: "comment-delete-link"%>
                </div>
                <% end %>
              </div>

              <% if post_comment.user.id == current_user.id %>
              <div class="comment-edit-block">
                <%= form_with model: [@book, post_comment] do |f| %>
                  <%= f.text_area :comment, class: "form-control" %>
                  <%= f.submit '更新', class: "comment-update-btn" %>
                <% end %>
              </div>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
      <%# Comment/ %>
    </div>
  </div>
</div>