<!DOCTYPE html>
<html>
  <head>
    <title>Bookers - あなたイチオシの本を共有しませんか？</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# header %>
    <header class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user.id) do %>
          <%= image_tag 'title.svg',height: "40px", class: "navbar-brand" %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'title.svg',height: "40px", class: "navbar-brand" %>
        <% end %>
      <% end %>

      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user.id), class: "nav-link" do %>
              <%= icon 'fas', 'home' %>
              <span> Home</span>
            <% end %>
          </li>
          <li>
            <%= link_to users_path, class: "nav-link" do %>
              <%= icon 'fas', 'user' %>
              <span> Users</span>
            <% end %>
          </li>
          <li>
            <%= link_to books_path, class: "nav-link" do %>
              <%= icon 'fas', 'book' %>
              <span> Books</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <%= icon 'fas', 'sign-out-alt' %>
              <span> logout</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path, class: "nav-link" do %>
              <%= icon 'fas', 'home' %>
              <span> Home</span>
            <% end %>
          </li>
          <li>
            <%= link_to home_about_path, class: "nav-link" do %>
              <%= icon 'fas', 'address-card' %>
              <span> About</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <%= icon 'fas', 'user-plus' %>
              <span> Sign up</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <%= icon 'fas', 'sign-in-alt' %>
              <span> Sign in</span>
            <% end %>
          </li>
        <% end %>
        </ul>
      </nav>
    </header>
    <%# header/ %>

    <%= yield %>

    <%# footer %>
    <footer class="bg-dark text-light p-3">
      <div class="container">
        <div class="footer-content row align-items-center">
          <div class="footer-content-left col-4">
            <h2 class="footer-logo"><%= image_tag 'title.svg', height: "40px" %></h2>
            <div class="company-address">〒300-3000 東京都中央区杉並1−1</div>
            <div class="conpany-email">http://honniumoreru.co.jp</div>
            <div class="footer-social mt-2">
              <ul>
                <li><%= link_to icon('fab', 'twitter'), '#' %></li>
                <li><%= link_to icon('fab', 'facebook'), '#' %></li>
                <li><%= link_to icon('fab', 'instagram'), '#' %></li>
              </ul>
            </div>
          </div>
          <div class="footer-content-right col-8">
            <div class="row">
              <div class="site-info site-info-about col">
                <h3 class="site-info-title title-about">ABOUT</h3>
                <ul>
                  <li>設立</li>
                  <li>所在地</li>
                  <li>地図</li>
                  <li>スタッフ</li>
                </ul>
              </div>
              <div class="site-info site-info-support col">
                <h3 class="site-info-title title-support">SUPPORT</h3>
                <ul>
                  <li>ダウンロード</li>
                  <li>マニュアル</li>
                  <li>よくある質問</li>
                  <li>お問い合わせ</li>
                </ul>
              </div>
              <div class="site-info site-info-contents col">
                <h3 class="site-info-title title-contents">CONTENTS</h3>
                <ul>
                  <li>お知らせ</li>
                  <li>ビジネス</li>
                  <li>プロフィール</li>
                  <li>開発者</li>
                  <li>ブログ</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-block row justify-content-center text-center">
          <span class="col-5">Copy Right Infratop.inc</span>
        </div>
      </div>
    </footer>
    <%# footer/ %>
  </body>
</html>
